.container {
	width: 94vw;
	height: 80vh;
}
.cardContainer {
    display: inline-block;
    width: 69vw;
    height: 85vh;
    margin-left: 10vw;
    margin-top: 4vh;
}

.card {
    width: 15vw;
    height: 36vh;
    background-color: #ff0000;
    margin-left: 0;
    margin-right: 7.875vw;
    margin-top: 3vh;
    margin-bottom: 4vh;
    border-radius: 3vw;
    box-shadow: 2vh 0vh 6vh #ff0000;
    float: left;
}
.cardImage{
	width: 12vw;
	height: 32vh;
}
.imgContainer {
    display: inline-block;
    width: 20vw;
    height: 78vh;
    position: absolute;
    top: 8vh;
    right: 0vw;
    overflow: hidden;
}
#mario {
	display: inline-block;
    /* margin-top: 2vh; */
    /* margin-left: 1vw; */
    height: 74vh;
    /* width: 34vw; */
    position: absolute;
    top: 0vh;
    right: -11vw;
}

/* -------------------------------For tablet and landscape mode--------------------------------------*/
@media only screen and (max-width: 770px){
	.navbar{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 12vw;
		border-radius: 0px 0px 15px 15px;
		box-shadow: 5vh 0vh 4vh #ff0000;
	}
	.navbar img {	
		display: inline-block;
	    float: left;
	    height: 10vw;
	    width: 4vw;
	    margin-top: 1vw;
	    margin-bottom: 1vw;
	    margin-left: 7vw;
	    margin-right: 8vw;
	}
	
	.container {
		display: block;
		height: auto;
		width: auto;
	}
	.cardContainer {
		width: auto;
	    height: auto;
	    margin: 11vw auto 5px auto;
	    padding: 2vw;
	    display: block;
	}

	.imgContainer {
		display: block;
		width: 90vw;
		height: 360px;
		margin: 3px auto 3px auto;
		padding: 1px;
		position: relative;
		overflow: visible;
		top: unset;
		right: unset;
	}

	#mario {
		display: block;
		height: 350px;
		width: 85vw;
		position: relative;
		left: unset;
		right: unset; top: unset; 
		bottom : unset;
		margin-left: auto;
		margin-right: auto;
	}

	.footer {
	    display: block;
	    height: 50px;
	    width: 75vw;
	    margin: 10px auto 10px auto;
	    position: relative;
	    right: unset;
	    padding-left: 10px;
	    padding-right: 10px;
	}

	.footer img {
		height: 50px;
 	   width: 30px;
    	margin: auto 40px auto 30px;
	}

/*-----------------------------For mobile devices==================*/
@media only screen and (max-width: 450px){

	.container {
		display: block;
		height: auto;
		width: auto;
	}
	.cardContainer {
		width: auto;
	    height: auto;
	    margin: 11vw auto 5px auto;
	    padding: 2vw;
	    display: block;
	}
	.card{
	    width: 67vw;
	    height: 35vh;
	    margin-left: auto;
	    margin-right: auto;
	    border-radius: 15vw;
	    box-shadow: 8px 0px 10px -2px #ff0000;
	    display: block;
	    float: none;
	}
	.imgContainer {
		display: block;
		width: 90vw;
		height: 360px;
		margin: 3px auto 3px auto;
		padding: 1px;
		position: relative;
		overflow: visible;
		top: unset;
		right: unset;
	}

	#mario {
		display: block;
		height: 350px;
		width: 85vw;
		position: relative;
		left: unset;
		right: unset; top: unset; 
		bottom : unset;
		margin-left: auto;
		margin-right: auto;
	}

	.footer {
	    display: block;
	    height: 50px;
	    width: 75vw;
	    margin: 10px auto 10px auto;
	    position: relative;
	    right: unset;
	    padding-left: 10px;
	    padding-right: 10px;
	}

	.footer img {
		height: 50px;
	    width: 30px;
	    margin: auto 0px auto 60px;
	}
}